{
  "extends": ["stylelint-config-sass-guidelines"],
  "plugins": ["stylelint-order"],
  "defaultSeverity": "warning",
  "rules": {
    "at-rule-no-unknown": null,
    "color-hex-case": ["lower", {
      "message": "Lowercase letters are easier to distinguish from numbers"
    }],
    "indentation": [2, {
      "except": ["block"],
      "message": "Please use 2 spaces for indentation. Tabs make The Architect grumpy.",
      "severity": "warning"
    }],
    "order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
  }
}
